.backgroundAjout1 {
  background-image: url("../assets/BGAll.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100vh;
}

.titleAjout1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.titreAjout1 {
    position: absolute;
    text-align: center;
    top: -900px;
}

.bgInputAjout1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 35vw;
    height: 60vh;
    border-radius: 20px;
    opacity: 0.8;
    position: absolute;
    transform: translate(92%, -135%);
    z-index: 200;
}

.inputTitleAjout1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 35%);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.stockage {
    position: absolute;
    text-align: center;
    top: 8%;
    left: 50%;
    width: 15vw;
    transform: translate(-50%, 35%);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.inputTitleAjout2 {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 35%);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.RAM {
    position: absolute;
    text-align: center;
    top: 21%;
    left: 50%;
    transform: translate(-50%, 35%);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    border-radius: 3px;
}

.inputTitleAjout3 {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, 35%);
    color: white;
    font-size: 1.5rem;
}

.antutu {
    position: absolute;
    text-align: center;
    top: 34%;
    left: 50%;
    height: 1.7rem;
    transform: translate(-50%, 35%);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    border-radius: 3px;
}

.inputTitleAjout4 {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, 35%);
    color: white;
    font-size: 1.5rem;
}

.pondération {
    position: absolute;
    text-align: center;
    top: 47%;
    left: 50%;
    transform: translate(-50%, 35%);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    border-radius: 3px;
}

.boutonAjout1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translate(0%, -150%);
}

.bgInputAjout1 input,
.bgInputAjout1 select {
    border: 0;
    width: 15vw;
}

.grade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradeTitle {
    margin: 0;
    padding: 0;
    width: 450px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transform: translate(0%, 630%);
    color: #ffffff;
    font-size: 1.5rem;
    z-index: 500;
    font-weight: 800;
}

.gradeResult {
    margin: 0;
    padding: 0;
    width: 265px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transform: translate(0%, 180%);
    color: #fecc38;
    font-size: 5rem;
    border: solid 5px #ffffff;
    border-radius: 5px;
    z-index: 500;
}

.lienUtile {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0%, 870%);
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.lienUtile a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.validerAjout1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    width: 200px;
    height: 50px;
    margin-top: -285px;
    border-radius: 30px;
    background-color: #000000;
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    z-index: 1000;
}

.validerAjout1:hover {
    border-color: #FECC38;
    color: #FECC38;
}
