.dispoTableau {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  height: 50vh;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;

  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: large;
  }

  p {
    margin: 2px;
  }

  .tableauAntutu {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;

    background-color: #00000093;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    .titreColonne {
      font-size: small;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .pAntutu {
      width: 25%;
      color: rgb(252, 246, 246);
    }

    input {
      width: 7%;
      margin-right: 0.8em;
    }

    button {
      width: max-content;
      margin: 0.5em;
    }
  }

  .tableauRam {
    width: 15%;
    border: 1px solid black;

    background-color: #00000093;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    .titreColonne {
      font-size: small;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    input {
      width: 40%;
      margin: 0.5em;
    }
  }

  .tableauDrive {
    width: 15%;
    border: 1px solid black;

    background-color: #00000093;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    .titreColonne {
      font-size: small;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    input {
      width: 40%;
      margin: 0.5em;
    }
  }
}

.ligneAntutu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 40%;
}

.poulet {
  color: white;
}
